flows.json
[{"id":"72f75259.73718c","type":"tab","label":"KPN Things Cayenne + ElephantSQL Integration","disabled":false,"info":""},{"id":"bcc12fc4.48fe8","type":"http in","z":"72f75259.73718c","name":"LoRa Post Catcher","url":"/","method":"post","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["c898f9d5.c1dfb8","5ad8f9a6.7c6c68"]]},{"id":"9e9cfb40.6ea278","type":"http response","z":"72f75259.73718c","name":"LoRa Post Reply","statusCode":"","headers":{},"x":790,"y":120,"wires":[]},{"id":"c898f9d5.c1dfb8","type":"function","z":"72f75259.73718c","name":"Data processor KPN developer portal","func":"// objects counted counted in payload\nvar objectCount = msg.payload.length;\n\n// Create variables to hold JSON \nvar msgc = {};\nvar msgp = {};\nvar result = {};\n\n// Prepare http responce\nvar msg200 = {}; // Variable to hold http responce message\nmsg200.payload = \"200\"; // \"200\" for OK\nmsg200.req = msg.req; // req from original msg for http responce node\nmsg200.res = msg.res; // res from original msg for http responce node\n\n// Test if it dat ais KPN format\n// Verification 1: Test for number of objects in array. Shall be > 3\nif( objectCount > 2){\n // Verification 2: test if \"bn\" object is at position 0 of object array\n if (msg.payload[0].hasOwnProperty(\"bn\")) {\n \n // Save original http post message for presenting later\n var rawPost = {};\n rawPost = msg.payload;\n \n // extract devEUI from http post data\n var devEUI = msg.payload[0].bn.split(\":\")[3];\n \n // save headers for specific usage.\n // result.things_devicespecification_uuid = msg.req.headers[\"things-devicespecification-uuid\"];\n // result.things_client_uuid = msg.req.headers[\"things-client-uuid\"];\n // result.things_plug_uuid = msg.req.headers[\"things-plug-uuid\"];\n result.things_message_token = msg.req.headers[\"things-message-token\"];\n \n // Test for payload formatted data\n if( msg.payload[1].n == \"payload\"){\n \n /*----------- data format -------------*/\n \n // This process is using CayenneLPP format\n \n msgp.payload = msg.payload[1].vs; // Payload data for decoding by CayenneLPP decoder\n msgp.rawPayload = msg.payload[1].vs; // Preserve original payload for presenting later\n msgp.rawPost = rawPost; // complete JSON woth htto POST message form KPN portal\n msgp.devEUI = devEUI;\n \n // prepare data for decoding by CayenneLPP decoder \n result.port = msg.payload[2].v;\n // take time in Unix time format in seconds and convert to readable time (MySQL compatible)\n result.locTime = new Date(msg.payload[0].bt*1000).toISOString().slice(0, 19).replace('T', ' ');\n \n msgp.metadata = result;\n node.send([[msg200],null,[msgp]]);\n \n }else if( msg.payload[1].n == \"locOrigin\"){\n \n /*----------- Geo-location format -------------*/\n \n msgc.devEUI = devEUI;\n \n result.rawPost = rawPost;\n result.locOrigin = msg.payload[1].vs;\n result.latitude = msg.payload[2].v;\n result.longitude = msg.payload[3].v;\n result.radius = msg.payload[4].v;\n // take time in Unix time format and convert to readable time (MySQL compatible)\n result.locTime = new Date(parseInt(msg.payload[7].vs)).toISOString().slice(0, 19).replace('T', ' ');\n \n msgc.payload = result;\n node.send([[msg200],[msgc],[null]]);\n \n }else{\n // Wrong payload: ignore!\n }\n }\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":430,"y":240,"wires":[["9e9cfb40.6ea278"],["3d5e3b7e.cbcf04"],["dc44b92d.de0fb8","b35664ef.0a3098"]],"info":"--------------------------------------------------------------------\nThis Node is part of the PE1MEW Node-Red KPN developer POST application.\n\nThe PE1MEW Node-Red KPN developer POST application is free software: \nyou can redistribute it and/or modify it under the terms of a Creative \nCommons Attribution-NonCommercial 4.0 International License \n(http://creativecommons.org/licenses/by-nc/4.0/) by \nPE1MEW (http://pe1mew.nl) E-mail: pe1mew@pe1mew.nl\n\nThe PE1MEW KPN developer POST application is distributed in the hope that \nit will be useful, but WITHOUT ANY WARRANTY; without even the \nimplied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR \nPURPOSE.\n--------------------------------------------------------------------\n\n\\brief Receive http POST data from KPN developer portal\n\\date 12-1-2020\n\\author Remko Welling (pe1mew@pe1mew.nl)\n\\version See version history\n\n## Verion history\n\nversion | Date | Athour | Notes\n--------|-----------|--------|-----------------------------------\n1.0 | 12-1-2020 | PE1MEW | First release\n\n## ToDo\n\n1: Add authentication method\n"},{"id":"5c613c15.6dca24","type":"comment","z":"72f75259.73718c","name":"Correct data will receive \"200\"","info":"","x":400,"y":140,"wires":[]},{"id":"27dfab67.2469e4","type":"function","z":"72f75259.73718c","name":"Payload MQTT sender","func":"// Set parameters for MQTT\n\n// Change the UserName and ClientId for your own Cayenne values.\nmqttUserName = '9f023df0-33ba-11eb-a2e4-b32ea624e442';\nmqttClientId = '054db080-33ca-11eb-b767-3f1a8f1211ba';\n\nmsg2 = {};\nmsg2.qos = 0;\nmsg2.retain = false;\n\n// Send metadata\n msg2.topic = \"v1/\" + mqttUserName + \"/things/\" + mqttClientId + \"/data/\" + msg.payload.channel;\n msg2.payload = msg.payload.type + \",\" + msg.payload.unit + \"=\" + msg.payload.value;\n node.send(msg2);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":260,"wires":[["a58547bc.d254e8"]],"info":"--------------------------------------------------------------------\nThis Node is part of the PE1MEW Node-Red KPN developer POST application.\n\nThe PE1MEW Node-Red KPN developer POST application is free software: \nyou can redistribute it and/or modify it under the terms of a Creative \nCommons Attribution-NonCommercial 4.0 International License \n(http://creativecommons.org/licenses/by-nc/4.0/) by \nPE1MEW (http://pe1mew.nl) E-mail: pe1mew@pe1mew.nl\n\nThe PE1MEW KPN developer POST application is distributed in the hope that \nit will be useful, but WITHOUT ANY WARRANTY; without even the \nimplied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR \nPURPOSE.\n--------------------------------------------------------------------\n\n\\brief Send payload data to MQTT\n\\date 12-1-2020\n\\author Remko Welling (pe1mew@pe1mew.nl)\n\\version See version history\n\n## Dependancies\n\nThis node is using port 3 from the \"Data processor KPN developer portal\" node\nthat is decoded by the CayenneLPP decoder node.\n\n## Verion history\n\nversion | Date | Athour | Notes\n--------|-----------|--------|-----------------------------------\n1.0 | 12-1-2020 | PE1MEW | First release\n\n## ToDo\n\n\n"},{"id":"a58547bc.d254e8","type":"mqtt out","z":"72f75259.73718c","name":"","topic":"","qos":"","retain":"","broker":"dc988b01.1cb9c8","x":1290,"y":220,"wires":[]},{"id":"3d5e3b7e.cbcf04","type":"function","z":"72f75259.73718c","name":"Location MQTT sender","func":"// Set parameters for MQTT \nmsg2 = {};\nmsg2.qos = 0;\nmsg2.retain = false;\n\n// Send all individual values from struc to MQTT with corresponding topic\nfor (var key in msg.payload){\n msg2.topic = \"kpn/\" + msg.devEUI + \"/location/\" + key;\n msg2.payload = msg.payload[key];\n node.send(msg2);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":180,"wires":[["a58547bc.d254e8"]],"info":"--------------------------------------------------------------------\nThis Node is part of the PE1MEW Node-Red KPN developer POST application.\n\nThe PE1MEW Node-Red KPN developer POST application is free software: \nyou can redistribute it and/or modify it under the terms of a Creative \nCommons Attribution-NonCommercial 4.0 International License \n(http://creativecommons.org/licenses/by-nc/4.0/) by \nPE1MEW (http://pe1mew.nl) E-mail: pe1mew@pe1mew.nl\n\nThe PE1MEW KPN developer POST application is distributed in the hope that \nit will be useful, but WITHOUT ANY WARRANTY; without even the \nimplied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR \nPURPOSE.\n--------------------------------------------------------------------\n\n\\brief Send Location data to MQTT\n\\date 12-1-2020\n\\author Remko Welling (pe1mew@pe1mew.nl)\n\\version See version history\n\n## Dependancies\n\nThis node is using port 2 from the \"Data processor KPN developer portal\" node\n\n## Verion history\n\nversion | Date | Athour | Notes\n--------|-----------|--------|-----------------------------------\n1.0 | 12-1-2020 | PE1MEW | First release\n\n## ToDo\n\n\n"},{"id":"b56d245b.b6bcc8","type":"debug","z":"72f75259.73718c","name":"MQTT topic , payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":340,"wires":[]},{"id":"5ad8f9a6.7c6c68","type":"debug","z":"72f75259.73718c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":40,"wires":[]},{"id":"10415000.d98a4","type":"debug","z":"72f75259.73718c","name":"Cayenne payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":420,"wires":[]},{"id":"dc44b92d.de0fb8","type":"function","z":"72f75259.73718c","name":"Cayennelpp decoder","func":"// https://github.com/FIWARE-GEs/iot-agent.LoraWAN/blob/bfbb71bb24eedbde3beaa610d92c551aa3e12d2d/lib/dataModels/cayenneLpp.js\n'use strict';\n\nconst CAYENNELPP_MAX_CHANNEL = 255;\nconst CAYENNELPP_MIN_SIZE_BYTES = 3;\n\nconst LPP_LUMINOSITY = 101;\nconst LPP_TEMPERATURE = 103;\nconst LPP_RELATIVE_HUMIDITY = 104;\n\nconst LPP_LUMINOSITY_TYPE = 'lum';\nconst LPP_TEMPERATURE_TYPE = 'temp';\nconst LPP_RELATIVE_HUMIDITY_TYPE = 'rel_hum';\n\nconst LPP_LUMINOSITY_UNIT = 'r';\nconst LPP_TEMPERATURE_UNIT = 'c';\nconst LPP_RELATIVE_HUMIDITY_UNIT = 'p';\n\n\nconst LPP_LUMINOSITY_SIZE = 1; // 1 bytes, 1 lux unsigned\nconst LPP_TEMPERATURE_SIZE = 2; // 2 bytes, 0.1°C signed\nconst LPP_RELATIVE_HUMIDITY_SIZE = 1; // 1 byte, 0.5% unsigned\n\n  var buffer = Buffer.from(msg.payload, 'hex');\n  if (buffer && validateCayenneLppSize(buffer)) {\n    var cursor = 0;\n    var value;\n    while (cursor < buffer.length) {\n      var channel = buffer.readUInt8(cursor);\n      if (validateCayenneLppChannel(channel)) {\n\t\tvar result = {};\n        cursor++;\n        var type = buffer[cursor];\n        cursor++;\n\n        switch (type) {\n          case LPP_LUMINOSITY:\n            if (cursor + LPP_LUMINOSITY_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer[cursor];\n              cursor++;\n              result.payload = {\n\t\t\t\t  channel : channel,\n                  type    : LPP_LUMINOSITY_TYPE,\n \t\t\t      value   : value,\n                  unit    : LPP_LUMINOSITY_UNIT\n\t\t\t  }\n            }\n            break;\n          case LPP_TEMPERATURE:\n            if (cursor + LPP_TEMPERATURE_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n            //   value = buffer.readInt16BE(cursor) / 10.0;\n            //   cursor += 2;\n              value = buffer[cursor] / 10.0;\n              cursor++;\n\t\t\t  result.payload = {\n\t\t\t\t  channel : channel,\n\t\t\t\t  type    : LPP_TEMPERATURE_TYPE,\n\t\t\t\t  value   : value,\n                  unit    : LPP_TEMPERATURE_UNIT\n\t\t\t  };\n            }\n            break;\n          case LPP_RELATIVE_HUMIDITY:\n            if (cursor + LPP_RELATIVE_HUMIDITY_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer[cursor];\n              cursor++;\n              result.payload = {\n\t\t\t\t  channel : channel,\n                  type    : LPP_RELATIVE_HUMIDITY_TYPE,\n  \t\t\t      value   : value,\n                  unit    : LPP_RELATIVE_HUMIDITY_UNIT\n\t\t\t  }\n            }\n            break;\n        } // end switch\n\t\tnode.send(result);\n      } else {\n        throw new Error('Invalid CayennLpp channel');\n      }// endif\n    } // end while loop\n  } else {\n    throw new Error('Invalid CayennLpp buffer size');\n  } // endif \n\n\n\n/**\n * It validates the size of a CayenneLpp message\n *\n * @param      {<type>}   buffer  The buffer\n * @return     {boolean}  { description_of_the_return_value }\n */\nfunction validateCayenneLppSize(buffer) {\n  var result = false;\n  if (buffer && buffer.length >= CAYENNELPP_MIN_SIZE_BYTES) {\n    result = true;\n  }\n\n  return result;\n}\n\n/**\n * It validates the a CayenneLpp channel\n *\n * @param      {<type>}   buffer  The buffer\n * @return     {boolean}  { description_of_the_return_value }\n */\nfunction validateCayenneLppChannel(channel) {\n  var result = true;\n\n  if (channel > CAYENNELPP_MAX_CHANNEL) {\n    result = false;\n  }\n\n  return result;\n}\n\n/**\n * It reads an integer represented using 24 bits\n *\n * @param      {<type>}  buf     The buffer\n * @param      {number}  offset  The offset\n * @return     {<type>}  { description_of_the_return_value }\n */\nfunction readInt24BE(buf, offset) {\n  return buf.readIntBE(offset, 3);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":340,"wires":[["27dfab67.2469e4","b56d245b.b6bcc8","10415000.d98a4"]]},{"id":"257571d3.bc4cee","type":"template","z":"72f75259.73718c","name":"INSERT","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO Metingen(deviceID, datum, lux, temperatuur, luchtvochtigheid)\nVALUES('{{payload.devID}}', now(), {{payload.lux}}, {{payload.temp}}, {{payload.hum}});","output":"str","x":1000,"y":540,"wires":[["8df54ae9.fc07b8","f9483207.edcbf"]]},{"id":"8df54ae9.fc07b8","type":"digitaloak-postgresql-query","z":"72f75259.73718c","name":"","server":"825b5458.e758a8","inputs":1,"outputs":1,"x":1210,"y":540,"wires":[["774e8fc0.26733"]]},{"id":"774e8fc0.26733","type":"debug","z":"72f75259.73718c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1410,"y":540,"wires":[]},{"id":"f9483207.edcbf","type":"debug","z":"72f75259.73718c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":600,"wires":[]},{"id":"3d40f767.4edac8","type":"debug","z":"72f75259.73718c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":680,"wires":[]},{"id":"b35664ef.0a3098","type":"function","z":"72f75259.73718c","name":"ElephantSQL decoder","func":"// https://github.com/FIWARE-GEs/iot-agent.LoraWAN/blob/bfbb71bb24eedbde3beaa610d92c551aa3e12d2d/lib/dataModels/cayenneLpp.js\n'use strict';\n\nconst CAYENNELPP_MAX_CHANNEL = 255;\nconst CAYENNELPP_MIN_SIZE_BYTES = 3;\n\nconst LPP_LUMINOSITY = 101;\nconst LPP_TEMPERATURE = 103;\nconst LPP_RELATIVE_HUMIDITY = 104;\n\nconst LPP_LUMINOSITY_TYPE = 'lum';\nconst LPP_TEMPERATURE_TYPE = 'temp';\nconst LPP_RELATIVE_HUMIDITY_TYPE = 'rel_hum';\n\nconst LPP_LUMINOSITY_UNIT = 'r';\nconst LPP_TEMPERATURE_UNIT = 'c';\nconst LPP_RELATIVE_HUMIDITY_UNIT = 'p';\n\n\nconst LPP_LUMINOSITY_SIZE = 1; // 1 bytes, 1 lux unsigned\nconst LPP_TEMPERATURE_SIZE = 2; // 2 bytes, 0.1°C signed\nconst LPP_RELATIVE_HUMIDITY_SIZE = 1; // 1 byte, 0.5% unsigned\n\n  var buffer = Buffer.from(msg.payload, 'hex');\n  if (buffer && validateCayenneLppSize(buffer)) {\n    var deviceID = msg.devEUI;\n    var cursor = 0;\n    while (cursor < buffer.length) {\n      var channel = buffer.readUInt8(cursor);\n      if (validateCayenneLppChannel(channel)) {\n        cursor++;\n        var type = buffer[cursor];\n        cursor++;\n\n        switch (type) {\n          case LPP_LUMINOSITY:\n            if (cursor + LPP_LUMINOSITY_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              valueLux = buffer[cursor];\n              cursor++;\n            }\n            break;\n          case LPP_TEMPERATURE:\n            if (cursor + LPP_TEMPERATURE_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n            //   value = buffer.readInt16BE(cursor) / 10.0;\n            //   cursor += 2;\n              valueTemp = buffer[cursor] / 10.0;\n              cursor++;\n            }\n            break;\n          case LPP_RELATIVE_HUMIDITY:\n            if (cursor + LPP_RELATIVE_HUMIDITY_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              valueHum = buffer[cursor];\n              cursor++;\n            }\n            break;\n        } // end switch\n      } else {\n        throw new Error('Invalid CayennLpp channel');\n      }// endif\n    } // end while loop\n    var result = {};\n    result.payload = {\n                devID   : deviceID,\n                lux     : valueLux,\n                temp    : valueTemp,\n  \t\t\t    hum     : valueHum\n\t\t\t  }\n    node.send(result);\n  } else {\n    throw new Error('Invalid CayennLpp buffer size');\n  } // endif \n\n\n\n/**\n * It validates the size of a CayenneLpp message\n *\n * @param      {<type>}   buffer  The buffer\n * @return     {boolean}  { description_of_the_return_value }\n */\nfunction validateCayenneLppSize(buffer) {\n  var result = false;\n  if (buffer && buffer.length >= CAYENNELPP_MIN_SIZE_BYTES) {\n    result = true;\n  }\n\n  return result;\n}\n\n/**\n * It validates the a CayenneLpp channel\n *\n * @param      {<type>}   buffer  The buffer\n * @return     {boolean}  { description_of_the_return_value }\n */\nfunction validateCayenneLppChannel(channel) {\n  var result = true;\n\n  if (channel > CAYENNELPP_MAX_CHANNEL) {\n    result = false;\n  }\n\n  return result;\n}\n\n/**\n * It reads an integer represented using 24 bits\n *\n * @param      {<type>}  buf     The buffer\n * @param      {number}  offset  The offset\n * @return     {<type>}  { description_of_the_return_value }\n */\nfunction readInt24BE(buf, offset) {\n  return buf.readIntBE(offset, 3);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":540,"wires":[["257571d3.bc4cee","3d40f767.4edac8"]]},{"id":"dc988b01.1cb9c8","type":"mqtt-broker","z":"","name":"CayenneMQTT","broker":"mqtt.mydevices.com","port":"1883","clientid":"98064ca0-4f5b-11eb-8779-7d56e82df461","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"825b5458.e758a8","type":"digitaloak-postgresql-connection-manager","z":"","name":"bzdngywh@dumbo.db.elephantsql.com:5432/bzdngywh","host":"dumbo.db.elephantsql.com","port":"5432","database":"bzdngywh","tls":"","use_tls":false,"pool_max_clients":"10","pool_client_max_idle":"10000","client_query_timeout":"","client_statement_timeout":"","client_connection_timeout_millis":"","is_client_enabled":"1"}]